


text {
	font-size: 2em;
  font-family: sans-serif;
  
}

.tick text {
  fill: #635f50;
  font-size: 1.5em;
  
}

.x-axis-label{
  
}



.tick line {
  stroke: #c0c0bb;
}

.axis-label {
  fill: #8E8883;
  font-size: 2em;
}

.title {
  fill: #635f50;
  font-size: 1.8em;
}